<!-- This is garbage-code - sorry about that ;)  -->

<!DOCTYPE html>

<html lang="de">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h1 style=" text-align: center;" >
      <img [src] = "image" alt = "" style = "height: 150px; width: 1000px" class = "center">
      <br>
      <br>
    </h1>

    <!-- nav -->
    <nav style=" text-align: center;">
      <div class="navbar-nav">
          <a style = "margin-top:20px; margin-right:20px;" class="nav-item nav-link" routerLink="/home"><b>Home</b></a>
          <a style = "margin-top:20px; margin-right:20px;" class="nav-item nav-link" routerLink="/login"><b>Login</b></a>
          <a style = "margin-top:20px; margin-right:20px;" class="nav-item nav-link" routerLink="/register"><b>Register</b></a>
      </div>
    </nav>

    <p style=" text-align: center;" >
      <font face="Verdana">
        <!-- main content container -->
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 offset-sm-2">
                  <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </font>
    </p>
  </body>

</html>
