<!DOCTYPE html>

<html lang="de">

<body>

  <h1 style=" text-align: center;" >
    <font face="Verdana" size = "10"> This is the Learnmaster for practicing your ADE-Skillzzz! </font>
  </h1>

  <p style=" text-align: center;" >
    <font face="Verdana">
    You can use this (absolutely fantastic) Web-Application to improve your already immeasureable Pascal-skills!
    <br>
    We need you to log into your account or to register with your S-number:
    <br>
    <br>
    <i>(the one from your student-ID, that you use for logging into the e-learning)</i>




    </font>
  </p>



</body>

</html>
