
  <head>
    <title>Text Input Control</title>
  </head>

  <body>
    <form >
      First Name:  <input type="text" name="first_name" />
      Last name:  <input type="text" name="last_name" />
      <br>
      <br>
      Semester:  <input type="text" name="first_name" />
      E-Mail Address:  <input type="text" name="last_name" />
      <br>
      <br>
      Password:  <input type="text" name="first_name" />
      Password again:  <input type="text" name="last_name" />
      <br>
      <br>
      <button> Submit </button>
    </form>
  </body>

